<html>
<html>
<head>
    <title>Profile</title>
</head>
<body>

<h1>My Profile</h1>

<p><strong>Username:</strong> {{ profile.user.username }}</p>
<p><strong>Email:</strong> {{ profile.user.email }}</p>
<p><strong>Bio:</strong> {{ profile.bio }}</p>

{% if profile.image %}
    <img src="{{ profile.image.url }}" alt="Profile Picture" width="150">
{% endif %}

<form method="POST" action="{% profile %}">  

<label for="fname">First name:</label><br>
<input type="text" id="fname" name="fname"><br>
<br>
  <input type="submit" value="Submit">

</form>




</body>
</html>